.link{
    text-decoration: none;
}
.productscon{
    /* background-color: rgb(255, 244, 244); */
}
.productscon img{
    width: 200px;
    /* height: 167px; */
    margin: 15px;
    
}
.productcon1{
    margin-top: 20px;
}
.productscon span{
    font-size: 30px;
    font-weight: 700;
    color: gray;
}
.productcon1{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.items{
   background-color: rgb(225, 251, 225);
}
.items img{
    width: 220px;
    height: 200px;
    margin: 20px;
    object-fit: cover;
}
.itemdetail{
    display: flex;
    justify-content: space-between;
}
.itemname{
  margin-left: 15px;
  font-size: 20px;
}
.itemprice{
    margin-right: 15px;
    font-size: 20px;   
}

@media only screen and (max-width: 700px) {
    .items img{
        width: 140px;
        height: 140px;
        margin: 0;
    }
    .productcon1{
        gap: 5px;
    }
    .productscon span{
        font-size: 19px;
    }
}