/* .link{
    text-decoration: none;
} */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#514cbb;
    border-bottom: 0.1px solid rgb(207, 202, 202);
}
.logo{
    flex:1;
    color: white;
    display: flex;
    justify-content: center;
}
.logo i{
    font-size: 20px;
}
.search{
    flex:2;
    display: flex;
    align-items: center;
}
.search div{
    display: inline-block;
    background-color: white;
    height: 26px;
    padding: 3px;
    color: rgb(188, 183, 183);   
}
.search input{
    width: 80%;
    height: 30px;
    font-size: 15px;
    border: none;
    outline: none;
}
.right{
    flex:2;
}
.right ul li{
    color: white;
    list-style: none; 
    padding: 3px 10px;
    margin:2px 15px;
}
.right ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.right ul li:nth-child(4) div{
    height: 40px;
    text-align: center;
    margin-top: 10px;
}
.right ul li:nth-child(4){
    position: relative;
}
.right ul li:nth-child(4) span{
   position: absolute;
   background-color: rgb(210, 13, 210);
   height: 15px;
   width: 15px;
   border-radius: 50%;
   text-align: center;
   padding: 1px;
   top: 4px;
   left: 25px;
   
}
.cartcontainer{
   width:450px;
   position: absolute;
   background-color: white;
   z-index: 2;
   top:70px;
   left: 70%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.searchfilter{
    position: absolute;
    top: 80%;
    left: 20%;
    background-color: white;
    width: 34%;
    display: flex;
    flex-direction: column;
    color: gray;
    z-index: 2;
  }
  .item{
    font-size: 18px;
    width: 100%;
    padding:5px 10px;
  }
  .item:hover{
    background-color: #f1f3f4;
    width: 98%;
  }
@media only screen and (max-width: 700px) {

    .search {
      display: none;
    }
    .right ul li{
        color: white;
        list-style: none; 
        padding: 3px 10px;
        margin: 0;
    }
    .cartcontainer{
        width: 300px;
        left: 21%;
    }
    .searchfilter{
        display: none;
    }
  }
  