.cartcon{
    border: 1px solid;
}
.handlescroll{
    height: 500px;
    overflow-y: scroll;   
}
.carttitle{
    color: gray;
    margin: 7px;
    font-size: 17px;
}
.maindetail{
    display: flex;
}
.rightdetail{
    flex:1;
    margin: 7px;
}
.rightdetail img{
    width: 100%; 
    height: 120px;
}
.middledetail{
    flex:2;
    margin: 7px;
}
.middletext{
    color: rgb(85, 84, 84);
}
.pricetag{
    color: blue;
    align-items: center;
}
.leftdetail{
    flex:1;
    margin: 7px;
    font-size: 30px;
    color: red;
}
.leftdetail span svg{
    font-size: 40px;
    color: red;
}
.subtotle{
    display: flex;
    justify-content: space-between;
    margin: 7px;
}
.tt{
    font-weight: 700;
    font-size: 18px;
}
.totle{
    font-weight: 700;
    font-size: 18px;
}
.checkout{
    margin: 7px;
}
.checkout button{
    width: 170px;
    height: 30px;
    font-size: 17px;
    background-color: blue;
    color: white;
    border:1px solid blue;
}
.qt{
    margin: 0 0 0 20px;
}
.q{
    margin: 0 4px;
}
.noitem{
    color: gray;
    margin: 5px;
    font-size: 18px;
}