.add{
    
    margin-top: 10px;
    position: relative;
}
.addtitle{
    font-size: 20px;
    color: gray;
}
.add button{
    margin: 10px 0px;
    padding: 10px;
    color: white;
    background-color: rgb(7, 199, 7);
    border: none;
    cursor: pointer;
}
.bgwhite{
}