.hcontainer{
    display: flex;
    z-index: 1;
    justify-content: center;
    background-color: white;
}
.hcontainer div{
    color: #514cbb;
    padding: 15px 20px;
    margin-bottom: 5px;
    margin: 0 15px;
}
.link{
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .hcontainer div{
        padding: 2px;
        margin: 0;
        font-size: 12px;
    } 
  }