.filter{
    
    
}
.cate{
   padding: 5px;
}
.box{
    
}
.filtertitle .cate{
    font-size: 18px;
    color: gray;
}
.filtertitle,.range,.price{
   flex:1;
   margin: 10px 0;
}
.cateinput{
    margin: 5px;
}
.filterprice{
    font-size: 18px;
    color: gray;
    padding: 5px;
}
.price{
}
.price div{
    padding: 5px;
}
.pricetitle{
    font-size: 18px;
    color: gray;
}
@media only screen and (max-width: 700px) {
    .filtertitle,.range,.price{
        border: 1px solid gray;
    }   
    .remove{
        display: none;
    }
}