.maincontainer{
    width: 96vw;
    overflow: hidden;
}
.scontainer{
    display: flex;
    width: 100vw;
    /* overflow: hidden; */
    
}
.slides{
    display: flex;
    flex-wrap: nowrap;
    /* overflow: hidden; */
    /* width: 100vw; */
}
.slide1{
    flex: 1;
    display: flex;
    width: 100vw;
}
.left{
    flex: 1;
    position: relative;
    height: 580px;
}
.left img{
    width:90%;
    height: 550px;
    position: absolute;
    object-fit: cover;
    top: 30px;
    left:10%;
}
.sright{
    flex:1;
    font-size: 80px;
    font-weight: bolder;
    left:10%;    
    margin-top:100px;
    margin-left: 5%;
    width: 100%;
}
.sright div:nth-child(1){
    margin-left: 30%;
    margin-top: 30px;
    border-bottom: 1px solid black;
    color: blue;
}
.sright div:nth-child(2){
    font-size: 40px;
    margin-top: 30px;
    margin-left: 20%;
}
.arrow{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.leftarrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    margin:0 5px;
}
.rightarrow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    margin:0 5px;
}

@media only screen and (max-width: 700px) {
    .maincontainer{
        display: none;
    }
    .arrow{
        display: none;
    }
  }