.fcontainer{
    /* margin: 40px 80px; */
    background-color: blue;
    color: white;
    margin: 20px 0; 
}
.social{
    margin: 40px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ftitle{
    padding: 15px;
}
.inputtext{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
.join{
    height: 35px;
    width: 60px;
    background-color: black;
    color: white;   
    border-radius: 5px;
}
.icon span{
    margin: 0 7px;
    font-size: 40px;
}
.footer{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.fcate{
    flex: 1;
}
.flink{
    flex: 1;
}
.about{
    flex: 1;
}
.contact{
    flex:1;
}
.warning{
   color:white;
   margin:2px 5px;
}
.green{
    color: green;
}
.white{
    color: white;
}
@media only screen and (max-width: 700px) {
    .social{
        margin: 10px 0;
    }
    .footer{
        margin: 10px 0;
        font-size: 12px;
    }
}