.singleproduct{
    display: flex;
    justify-content: center;
}
.pright{
    flex: 2;
    top:20px;
}
.pleft{
    flex: 3;
}
.pright img{
    width: 75%;
    height: 500px;
    margin: 10px;
}
.ptitle{
    font-size: 24px;
    margin: 5px 0;
    font-weight: bolder;
}
.rating{
    margin: 10px;
}
.rat{
    font-size: 20px;
}
.star{
    color: yellow;
    font-size: 18px;
}
.money{
    margin: 10px;
    font-size: 20px;
    color: blue;   
}
.more{
    margin: 10px;
    font-size: 20px;
}
.quantity{
    margin: 10px;
    /* display: flex; */
}
.less{
    display:inline-block;
    font-size: 18px;
    border: 1px solid;
    padding: 13px 18px;
    background-color: rgb(217, 215, 215);
    cursor: pointer;
}
.num{
    display:inline-block;
    font-size: 18px;
    padding: 13px 18px;
    
}
.high{
    display:inline-block;
    font-size: 18px;
    border: 1px solid;
    padding: 13px 18px;
    background-color: rgb(217, 215, 215);
    cursor: pointer;
}
.sortcat{
    margin: 30px 0;
}
.tsize{
    font-size: 20px;
    margin: 0 8px;
}
.size select{
     font-size: 15px; 
     padding: 10px;  
}
.add{
    margin: 5px 10px;
}
.warn{
    margin: 5px 10px;
    color: green;
    font-weight: bold;
}
.add button{
    width: 200px;
    height: 40px;
    margin:10px 0;
    font-size: 17px;
    background-color: blue;
    color: white;
    border:1px solid blue;
}
.add button:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
}
.wishlist{
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid; */
}
.wishlist span{
    font-size: 20px;
    color: blue;
}
.des{
    margin: 18px 5px;
    font-size: 17px;
    border-bottom: 1px solid rgb(181, 181, 181);
}
.info{
    margin: 18px 5px;
    font-size: 17px;
    border-bottom: 1px solid rgb(181, 181, 181);
}
.faq{
    margin: 18px 5px;
    font-size: 17px;
    border-bottom: 1px solid rgb(181, 181, 181);
}
@media only screen and (max-width: 700px) {
    .singleproduct{
        display: block;
    }
    .pright img {
        height: 350px;
    }
}
